{% extends "base.html" %}

{% block page_title %}
	Imprenta Gardop S.A.C. - Contrato
{% endblock  %}

{% block content %}
<article class="page-content">
<div class="row">	
	<div id="update_employee" class="col l6 push-l3  " >
		<div class="card ">
		    <div class="card-content  ">
	      		<span class="card-title"><h5>Modificar contrato</h5></span>
				<form action="{% url "contracts:update_contract" %}" method="post">
				{% csrf_token %}
				<div class="input-field col s12 l6">
					<input type="text" name="namecontract" id="namecontract" class="validate" value="{{contract.namecontract}}" onkeypress="return validateString(event)" maxlength="50"></input>
		          	<label for="name">Nombre de contrato</label>
				</div>
				<div class="input-field col s12 l6">
					<input type="text" name="description" id="description" class="validate" value="{{contract.description}}" required="true" onkeypress="return validateString(event)" maxlength="50"></input>
		          	<label for="name">Descripción</label>
				</div>
				<div class="input-field col s12 l6">
					<select name="state" required="true">
					  <option value="" disabled selected>Estado</option>
							{% if contract.state == "ENA"%}
							<option value="ENA" selected="">Activo</option>
							<option value="DIS">Inactivo</option>
							{% endif %}	
							{% if contract.state == "DIS"%}
							<option value="ENA" ="">Activo</option>
							<option value="DIS" selected>Inactivo</option>
							{% endif %}	
					</select>
				</div>
				<div class="row center-align clear-both">
					<div class="col s12 m6 l6">
						<a href="{% url "contracts:getall" %}" class="btn red waves-effect waves-light">Atrás</a>
					</div>
					<div class="col s12 m6 l6">
						<button type="submit" class="btn waves-effect waves-light btn-signup" >GUARDAR CAMBIOS</button>
					</div>
				</div>
				</form>
		    </div>
		</div>
	</div>	
</div>	
</article>
{% endblock  %}